body {
  margin: 0;
  font-size: 16px;
}

.wraper {
  width: 100%;
  margin: 0 auto;
}

/* GENERAL*/

.button {
  width: 15vw;
  height: 7vh;
  border-radius: 4px;
  color: white;
  font-size: 1.5rem;
  font-family: "Alex Brush", cursive;
  background-color: #cfb260;
  transition: all 0.8s;
  border: none;
}
.button:hover {
  color: #9e572a;
  box-shadow: 10px;
}
h1 {
  font-family: "Alex Brush", cursive;
  font-size: 4.375rem;
  width: 24%;
  color: #fff;
}
h2 {
  color: #cfb260;
  font-size: 2.5rem;
  font-family: "Alex Brush", cursive;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h3 {
  color: #f2f0f1;
  font-size: 2.25rem;
  font-family: "Alex brush", cursive;
  margin-block-start: 0;
  margin-block-end: 0em;
}
p {
  color: #727072;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;

  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* PRESENTATION*/

.presentation {
  width: 100%;
  height: 800px;
  background-image: url(img/img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav a img {
  width: 40%;
  padding: 2%;
}
#logo {
  filter: invert(99%) sepia(17%) saturate(2%) hue-rotate(96deg) brightness(106%)
    contrast(101%);
}

.nav {
  display: flex;
  align-items: center;
  width: 100vw;
  position: fixed;
  padding: 0 120px;
  top: 0;
  left: 0;
  z-index: 999;
}
.sticky_nav {
  background: #ffffff;
  opacity: 1.5;
}
.nav.sticky_nav #logo {
  filter: none;
}

.nav ul {
  width: 680px;
  display: flex;
  list-style: none;
  margin-left: 200px;
}
.nav li a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #cfb260;
  padding: 8px 16px;
  text-decoration: none;
}
.nav li a:hover {
  color: #9e572a;
}

.openbtn {
  display: none;
}

#myMenumob {
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 27px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.presentation h1 {
  padding: 3% 5%;
  text-decoration: none;
  border: #cfb260 solid 10px;
  margin-right: 8%;

  animation-name: from-right;
  animation-duration: 2s;

  margin-block-start: 0em;
  margin-block-end: 0em;
}

@keyframes from-right {
  from {
    margin-right: -650px;
  }
  to {
    margin-right: 8%;
  }
}

/* A PROPOS*/

.a_propos {
  height: 745px;
  background-color: #f2f0f1;
  align-items: center;
  margin-top: 5% !important;
  display: flex;
  width: 90%;
  margin: auto;
}
.a_propos img {
  width: 45%;
}
.text {
  width: 45%;
  background-color: white;
  padding: 5% 2% 5% 2%;
}
.text h2 {
  margin: 0;
}
.text p {
  padding: 50px 0 35px 0;
  margin: 0;
}

/* PROJETS*/
.projets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  background-color: #f2f0f1;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7%;
  height: 75vh;
}
.text_projets {
  width: 90%;
  height: 60vh;
  border: #cfb260 solid 10px;
  background-color: #f2f0f1;
  display: flex;
  justify-content: space-evenly;
  padding-top: 6%;
}
.proj_img {
  height: 40vh;
  position: relative;
  width: 30%;
}
.proj_img:hover .overlay {
  opacity: 1;
}
.proj_img img {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.overlay p {
  color: white;
  font-size: 20px;
  text-align: center;
}
.overlay i {
  color: #f1f1f1;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  padding: 7%;
  margin: 5px;
  transition: 0.5s ease;
}
.overlay i:hover {
  color: #cfb260;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #cfb260;
  padding: 10%;
  margin: 5px;
  transition: 0.5s ease;
}
.link_proj {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projets h2 {
  width: 30%;
  margin-left: -380px !important;
  background-color: #f2f0f1;
  text-align: center;
  margin-bottom: -30px !important;
  z-index: 30;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.text_projets p {
  padding: 8% 1%;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.button-projets {
  display: block;
  margin: auto;
  margin-top: -10% !important;
}

/*PARCOURS*/

.parcours {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-image: url(img/img_12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  margin: 10% auto;
}
.text_parcours {
  width: 750px;
  height: 64vh;
  background: rgba(0, 0, 0, 0.6);
}
.text_parcours h2 {
  text-align: center;
  margin: 4% 10% 4% 18% !important;
  display: inline-block;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.text_parcours p {
  margin: 20px 85px;
  padding: 0px 134px !important;
  display: block;
  color: #ffffff;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.certificats {
  color: #cec19d;
  text-decoration: none;
  font-size: 0.8rem;
}
.certificats:hover {
  text-decoration: underline;
}

.competences {
  width: 100%;
  height: 750px;
  background-color: #f2f0f1;
}
.competences p {
  color: #ffffff !important;
}
.competences h2 {
  padding: 3% 0;
  text-align: center;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.domaines {
  width: 80%;
  height: 450px;
  padding: 3%;
  background-color: #000000;
  opacity: 0.7;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#design {
  width: 43%;
}

#design h3 {
  text-align: center;
  padding: 10px;
}
#design ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
#design ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.sketch {
  width: 300px;
  height: 20px;
  background-color: #ffffff;
  margin: 0 10px 0 25px;
}

.progress {
  background-color: #cfb260;
  height: inherit;
  text-align: center;

  color: #ffffff;
  font-weight: 500;
}
#developpement {
  width: 43%;
}
#developpement h3 {
  padding: 10px;
}
#developpement ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
#developpement ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.img_h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_h3 img {
  height: 30px;
  padding: 0 10px;
}

.footer {
  height: 200px;
  background-color: #000000;
  margin-top: 7%;
}
.gmail {
  display: flex;
  justify-content: center;
  padding: 60px 0 0;
}
.gmail img {
  padding: 0 10px;
}
.social {
  display: flex;
  justify-content: center;
}
.social img {
  padding: 10px;
}
.social img:hover {
  color: red;
}
.gmail i {
  font-size: 14px;
  color: #ffffff;
  padding: 5px 5px;
}
.social i {
  font-size: 30px;
  color: #ffffff;
  padding: 5px 7px;
  transition: all 0.5s;
}
.social i:hover {
  color: #cfb260;
}
